@model ShopDaki.Models.ViewModel.ShoppingCartViewModel
@using Microsoft.AspNetCore.Http
@using ShopDaki.Extensions
@using ShopDaki.Utility
@{
    ViewData["Title"] = "Index";
    float totalPrice = 0;
}

@inject IHttpContextAccessor HttpContextAccessor

<form method="post">
    <br /> <br />
    <h2 class="text-info">Your Shopping Cart</h2>
    <br />
    @if (Model.Products.Count > 0)
    {
        <div class="container border border-primary rounded" style="padding: 15px;">
            <div class="row">
                <div class="col-8" style="border-right: 1px solid #bbb9b9">
                    <table class="table table-striped" width="100%">
                        <tr class="table-info">
                            <th style="text-align: center; width: 20%;"></th>
                            <th style="text-align: center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>
                            <th style="text-align: center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>
                            <th style="text-align: center;">
                                <label asp-for="@Model.Products.FirstOrDefault().Detail"></label>
                            </th>
                            <th style="text-align: center;">Group Product</th>
                            <th style="text-align: center;">Quantity</th>
                            <th style="text-align: center;"></th>
                        </tr>
                        @foreach (var item in Model.Products)
                        {
                            <tr style="padding: 50px;">
                                <td>
                                    <a asp-area="Customers" asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductID">
                                        <img src="@item.Images" width="150px" height="150px" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(c => item.Name)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(c => item.Price)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(c => item.Detail)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(c => item.GroupProduct.Name)
                                </td>
                                <td style="text-align: center;">
                                    @{
                                        int count = HttpContextAccessor.HttpContext.Session.Get<int>(item.ProductID.ToString());
                                    }
                                    @count
                                </td>
                                <td style="text-align: center;">
                                    <button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-id="@item.ProductID">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            totalPrice += count * item.Price;
                        }
                    </table>
                </div>
                <div class="col-4" style="padding-left: 30px;">
                    <div class="row">
                        @if (User.IsInRole(SD.Customer))
                        {
                            <div class="col-12">
                                <label>Name: </label>
                            </div>
                            <div class="col-12 pb-lg-2">
                                <input class="form-control" readonly asp-for="@Model.Order.CustomerName" value="@Model.Customer.Name" />
                            </div>
                            <div class="col-12">
                                <label>Phone Number: </label>
                            </div>
                            <div class="col-12 pb-lg-2">
                                <input class="form-control" readonly asp-for="@Model.Order.CustomerPhoneNumber" value="@Model.Customer.PhoneNumber" />
                            </div>
                            <div class="col-12">
                                <label>Email: </label>
                            </div>
                            <div class="col-12 pb-lg-3">
                                <input class="form-control" readonly asp-for="@Model.Order.CustomerEmail" value="@Model.Customer.Email" />
                            </div>
                            <div class="col-12 pb-lg-3">
                                <label>If your information is not right then you can go your profile to <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">edit.</a></label>
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <label>Name: </label>
                            </div>
                            <div class="col-12 pb-lg-2">
                                <input class="form-control" asp-for="@Model.Order.CustomerName" />
                            </div>
                            <div class="col-12">
                                <label>Phone Number: </label>
                            </div>
                            <div class="col-12 pb-lg-2">
                                <input class="form-control" asp-for="@Model.Order.CustomerPhoneNumber" />
                            </div>
                            <div class="col-12">
                                <label>Email: </label>
                            </div>
                            <div class="col-12 pb-lg-3">
                                <input class="form-control" asp-for="@Model.Order.CustomerEmail" />
                            </div>
                        }


                        <div class="col-12 pb-lg-2">
                            <button class="btn btn-success form-control" type="submit" id="btnPlaceOrder">Order</button>
                        </div>
                    </div>
                </div>

                <div class="container row">
                    <div class="col-6">
                        <h4 class="text-info">
                            Total(USD)
                        </h4>
                    </div>

                    <div class="col-6">
                        <h4 class="text-muted">
                            $@totalPrice
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            No items added to the shopping cart...
        </div>
    }
</form>

