@model ShopDaki.Models.ViewModel.ProductsListViewModel
@using ShopDaki.Extensions
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/Pretty-Product-List.css" />
</head>

<br />
<br />
<form method="get">
    <div class="container">
        <div class="p-4">
            <div class="form-group pa-3 pb-2">
                <h3 class="text-center text-secondary">Find the products you’re looking for.</h3>
            </div>

            <div class="form-group row">
                <div class="col-8">
                    @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @placeholder = "e.x. iPhone 11 Pro Max" } })
                </div>

                <div class="col-4">
                    <button class="btn btn-success form-control" type="submit" name="submit" value="Search">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2 pa-1">
                <label>Filter group products:</label>
            </div>

            <div class="col-6">
                <select class="custom-select" name="groupProductsSelected">
                    <option value="Default" selected>Default</option>
                    @foreach (var groupProduct in Model.GroupProducts)
                    {
                        <option value="@groupProduct.Name">@groupProduct.Name</option>
                    }
                </select>

            </div>

            <div class="col-3">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="row product-list">
    @foreach (var product in Model.Products)
    {
        <div class="col-sm-6 col-md-4 product-item">
            <div class="product-container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="product-image" asp-action="Details" asp-controller="Home" asp-route-id="@product.ProductID"><img src="@product.Images"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2><a asp-action="Details" asp-controller="Home" asp-route-id="@product.ProductID">@product.Name</a></h2>
                    </div>
                </div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                    @{
                        var random = new Random();
                        var countReviewers = random.Next(20, 500);
                    }
                    <a class="small-text" href="#">@countReviewers reviews</a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="product-description">@product.Detail</p>
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-primary" asp-action="Details" asp-controller="Home" asp-route-id="@product.ProductID">Buy Now!</a>
                            </div>
                            <div class="col-6">
                                <p class="product-price">$@product.Price</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<form method="get">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn border"
         page-class-normal="btn btn-default active"
         page-class-selected="btn btn-primary active" class="btn-group m-1">
    </div>
</form>