@model Product
@using Microsoft.AspNetCore.Http;
@using ShopDaki.Extensions

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details";
}

<br />
<h2 class="text-info pb-2">Product Details</h2>

<form method="post" asp-action="Edit">
    <div class="p-4 border rounded row">
        <input type="hidden" asp-for="ProductID" />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Name"></label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" readonly asp-for="Name" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Status"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" readonly asp-for="@Model.Status" />
                </div>
            </div>
            <br />
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Images"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" readonly asp-for="@Model.Images" />
                </div>
            </div>
            <br />
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.GroupProduct"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" readonly asp-for="@Model.GroupProduct.Name" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Date"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" readonly asp-for="@Model.Date" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Price"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" readonly asp-for="@Model.Price" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="@Model.Detail"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" readonly asp-for="@Model.Detail" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label>Quantity: </label>
                </div>
                <div class="col-8">
                    <input class="form-control" id="input-quantity" name="Quantity" type="number" min="0" max="10" step="1" value="1">
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    @{
                        var isInBag = false;

                        List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");

                        if (lstCart != null && lstCart.Contains(Model.ProductID))
                        {
                            isInBag = true;
                        }
                    }

                    @if (isInBag)
                    {
                        int quantity = HttpContextAccessor.HttpContext.Session.Get<int>(Model.ProductID.ToString());

                        <script>
                            document.querySelector("#input-quantity").value = @quantity;
                        </script>

                        <div class="row">
                            <div class="col-6">
                                <input class="btn btn-primary form-control" type="submit" value="Update" asp-route-id="@Model.ProductID" />
                            </div>

                            <div class="col-6">
                                <input class="btn btn-danger form-control" type="submit" value="Remove to Bag" asp-action="Remove" asp-route-id="@Model.ProductID" />
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Model.Status.Equals("Available"))
                        {
                            <input class="btn btn-primary form-control" type="submit" value="Add to Bag" asp-route-id="@Model.ProductID" />
                        }
                    }
                </div>
            </div>
            <br />
        </div>

        <div class="col-1"></div>

        <div class="col-3">
            <img src="@Model.Images" alt="@nameof(Product.Images)" width="100%" style="border-radius: 5px; border: 1px Solid #bbb9b9;" />
            @if (Model.Status.Equals("Available"))
            {
                <h3 class="text-info p-2 text-center"><i class="fas fa-check text-success"></i>Available</h3>
            }
            else
            {
                <h3 class="text-danger p-2 text-center"><i class="fas fa-times text-danger"></i>Not in Stock</h3>
            }
        </div>

        <div class="form-group">
            <input hidden asp-for="@Model.ProductID" />
            <a class="btn btn-success" asp-action="Index">Back to list</a>
        </div>
    </div>
</form>